@use 'sass:map';

$colors: (
    white: (
        1000: hsl(0, 0%, 100%)
    ),
    black: (
        1000: hsl(0, 0%, 0%)
    ),
    gray: (
        1000: hsl(280, 1%, 59%),
        2000: hsl(210, 33%, 95%)
    ),
    blue: (
        1000: hsl(221, 50%, 22%),
        2000: hsl(225, 67%, 41%)
    ),
    green: (
        1000: hsl(127, 40%, 60%),
        2000: hsl(127, 41%, 87%)
    ),
    red: (
        1000: hsl(3, 100%, 61%)
    )
);

$fonts: (
    SansSerif: sans-serif
);
